.structure {
    padding: 40px 0;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(141, 0, 170, 1) 50%,
        rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(141, 0, 170, 1) 50%,
        rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(141, 0, 170, 1) 50%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    &__content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__content-left,
    &__content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__ingredient {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        // background-color: rgba(0, 0, 0, 0.8);
    }
    &__ingredient-image {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 50%;
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__ingredient-description {
        font-size: 0.7em;
        padding: 10px;
        text-align: center;
    }

    &__product-image {
        width: 233px;
        height: 361px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
