*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.promo {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    overflow: hidden;
    .media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #707070;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }
        &__video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
        }
    }
    &__content {
        position: relative;
        margin: 50px auto;
        z-index: 3;
        .title {
            text-align: center;
            font-size: 44px;
        }
    }
    &__product {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 40px;
        margin: 60px auto;
    }
    &__photo {
        width: 210px;
        height: 325px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__features ol li {
        font-size: 30px;
        padding: 20px;
    }
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    text-transform: uppercase;
    font-size: 28px;
    border-radius: 23px;
    background-color: #9f16b8;
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    outline: none;
    border: 3px solid #370055;
}

.order::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background-color: #3d0047;
    transform-origin: center bottom;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
}

.order:hover {
    cursor: pointer;
}

.order:hover::before {
    transform-origin: center top;
    transform: scaleY(1);
}

.structure {
    padding: 40px 0;
    background: rgb(55, 16, 78);
    background: -moz-radial-gradient(
        circle,
        rgba(55, 16, 78, 1) 0%,
        rgba(9, 75, 76, 1) 50%,
        rgba(64, 10, 89, 1) 100%
    );
    background: -webkit-radial-gradient(
        circle,
        rgba(55, 16, 78, 1) 0%,
        rgba(9, 75, 76, 1) 50%,
        rgba(64, 10, 89, 1) 100%
    );
    background: radial-gradient(
        circle,
        rgba(55, 16, 78, 1) 0%,
        rgba(9, 75, 76, 1) 50%,
        rgba(64, 10, 89, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37104e",endColorstr="#400a59",GradientType=1);
    &__content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__content-left,
    &__content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__ingredient {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        // background-color: rgba(0, 0, 0, 0.8);
    }
    &__ingredient-image {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 50%;
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__ingredient-description {
        font-size: 20px;
        padding: 10px;
    }

    &__product-image {
        width: 233px;
        height: 361px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
